version: "3.8"

services:
  node-server:
    build:
      context: ./backend/V0.2/
      args:
        - NODE_ENV=${NODE_ENV}
        - APP_PORT=${APP_PORT}
        - APP_DOMAIN=${APP_DOMAIN}
    container_name: ${APP_DOMAIN}-devContainer
    env_file: 
      - ./.env
    ports:
      - "0.0.0.0:${APP_PORT}:${APP_PORT}" # Bind to 0.0.0.0 to allow external access
    volumes:
      - /usr/src/${APP_DOMAIN}/node_modules
      - ./backend/V0.2/uploads:/usr/src/${APP_DOMAIN}/uploads
      - ./backend/V0.2/statics:/usr/src/${APP_DOMAIN}/statics/
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: >
      sh -c "npm run dev"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:${APP_PORT}/health?service=docker-compose%20${APP_DOMAIN}-devContainer%20healthcheck"]
      interval: 5m # Poll every 5 minutes after the container is healthy
      timeout: 20s # Allow up to 20 seconds for each health check command
      retries: 6 # Retry up to 6 times before considering the container unhealthy
      start_period: 30s # Allow up to 30 seconds for initialization before the first check
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    restart: no
    deploy:
      resources:
        limits:
          memory: 1G
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: postgres_container
    env_file: 
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
    networks:
      - app_network

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4:8.13
    restart: always
    env_file:
      - ./.env
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:80/misc/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - app_network

  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - app_network

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: redisinsight
    ports:
      - "8001:8001"
    volumes:
      - redisinsight_data:/db
    depends_on:
      - redis
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
  redisinsight_data:
  pgadmin_data:

networks:
  app_network:
    driver: bridge
