/* General Body Styling */
body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #ffffff;
  color: #333;
}

/* Menu Styling */
.full-menu {
  margin: 0;
  width: 260px;
  max-height: 80vh;
  color: #222;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  display: block;
  left: -300px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 250ms ease-in-out;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.full-menu.expanded {
  left: 0;
  display: block;
  transition: left 250ms ease-in-out;
}

.full-menu h2,
.full-menu h3,
.full-menu h4 {
  margin-top: 0;
  color: #007bff;
}

.full-menu ul {
  list-style-type: none;
  padding: 0;
}

.full-menu ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.full-menu ul li a {
  flex-grow: 1;
}

.full-menu li {
  margin-bottom: 10px;
}

.full-menu a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.full-menu a:hover {
  color: #d5e9ff;
  background-color: #a7a7a7;
}

.full-menu input[type="checkbox"] {
  margin-left: 10px;
}

.full-menu .verified-text {
  color: green;
  font-weight: bold;
}

/* Menu Toggle Button */
#menu-toggle {
  position: fixed;
  left: 10px; /* Place the toggle button correctly when collapsed */
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #007bff;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  z-index: 1001;
  transform: rotate(180deg);
  transition: transform 250ms ease-in-out, left 250ms ease-in-out,
    opacity 250ms ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#menu-toggle:hover {
  background-color: #b6b6b6;
}

.full-menu.expanded + #menu-toggle {
  left: 270px; /* Position the toggle button correctly when expanded */
  transform: rotate(-180deg);
  transition: transform 250ms ease-in-out, left 250ms ease-in-out;
}

.compact-menu {
  padding: 0 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  position: fixed; /* Change from absolute to fixed */
  left: 0;
  width: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 100dvh; /* Change from 100% to auto */
  display: block; /* Ensure it's displayed by default */
  z-index: 999; /* Add z-index to ensure it's above other content */
  transition: opacity 250ms;
}

a.icon-item {
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  display: block;
  color: inherit;
  text-decoration: none;
}

a.icon-item:hover {
  background-color: #e0e0e0;
}

.icon {
  margin-right: 10px;
}

/* Loading Progress Styling */
#loadingProgress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  transition: opacity 1s ease-in-out;
}

#loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.5s ease-out;
}

#loadingText {
  position: relative;
  z-index: 1002;
  color: #333;
  font-size: 0.8em;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Content Styling */
#content {
  margin-left: 70px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Header Styling */
#officialProjectName {
  color: #007bff;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff;
}

#diagramsHeader {
  color: #333;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
}

#description {
  color: #555;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  #diagramsHeader {
    font-size: 1.2em;
    padding: 8px;
  }

  #officialProjectName {
    font-size: 1.5em;
    padding: 8px;
  }

  #description {
    font-size: 0.9em;
    padding: 8px;
  }
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em; /* Adjust font size as needed */
  z-index: 1000;
  display: none; /* Hide by default */
}

/* Section Styling */
.section {
  margin-bottom: 40px;
}

.section h2,
.section h3,
.section h4 {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.section h2 {
  top: 0;
  padding: 10px 0 5px 10px;
  border-left: 5px solid #007bff;
}

.section h3 {
  top: 52px;
  padding: 10px 0 5px 20px;
  border-left: 5px solid #28a745;
}

.section h4 {
  top: 100px;
  padding: 10px 0 5px 40px;
  border-left: 5px solid #ffc107;
}

.section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding-top: 60px;
}

/* diagrams */
.diagram-container {
  position: relative;
  width: 100%;
  border: thick double #007bff;
}

.diagram-container img {
  box-shadow: none;
  border: none;
  display: block; /* Ensure the image is treated as a block-level element */
  margin: auto;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #646464;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
}

.reset-zoom {
  margin: 8px 8px;
  position: sticky;
  top: 100px;
  z-index: 11;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #646464;
  border-radius: 8px;
}

h4 + .diagram-container > .reset-zoom {
  margin: 8px 8px;
  position: sticky;
  top: 150px;
  z-index: 11;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #646464;
  border-radius: 8px;
}

.mermaid {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.mermaid svg {
  width: 100%;
  height: auto;
}

/* Back to Top Button */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
  transform: translateY(20px);

  /* Add these properties to center the content */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Adjust line-height to ensure vertical centering */
  line-height: 1;
}

#backToTop:hover {
  background-color: #0056b3;
}

#backToTop.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Checkbox Styling */
input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: "SExtralight";
  font-size: 14px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid rgb(24, 211, 108);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label .verified-text {
  display: inline-block;
}

/* Verified Text */
.verified-text {
  display: none;
  margin-left: 0.5em;
  color: green;
  font-size: 12px;
}

/* Save Button */
#saveButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

#saveButton:hover {
  background-color: #0056b3;
}
