body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#content {
  margin-left: 290px;
  /* 250px + 20px padding on both sides */
  padding: 20px;
  width: calc(100% - 290px);
  box-sizing: border-box;
}

.section {
  margin-bottom: 40px;
}

h2 {
  color: #333;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(20px);
}

#backToTop:hover {
  background-color: #0056b3;
}

#backToTop.visible {
  opacity: 1;
  transform: translateY(0);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: "SExtralight";
  font-size: 14px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid rgb(24, 211, 108);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label .verified-text {
  display: inline-block;
}

.verified-text {
  display: none;
  margin-left: 0.5em;
  color: green;
  font-size: 12px;
}

#menu ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#menu ul li a {
  flex-grow: 1;
}

#saveButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#saveButton:hover {
  background-color: #0056b3;
}
